<!doctype html>
<html lang="es">
    <%- include ("../partials/head") %>
<body>
    <%- include ("../partials/navbar") %>
    <main class="main-container">
        <article class="item container">
            <!-- Imagen del Funko -->
            <picture class="item__cover">
                <img class="item__cover-front" src="<%= item.img_front %>" alt="">
                <img class="item__cover-back" src="<%= item.img_back %>" alt="">
            </picture>

            <!-- Descripcion del Funko -->
            <section class="item__content">
                <span class="item__collection"><%= item.category_name %></span>
                <span class="item__title"><%= item.product_name %></span>
                <span class="item__description"><%= item.product_description %></span>
                <span class="item__price"><%= item.product_price %></span>

                <!-- Contenedor para la cantidad a agregar de items al carrito -->
                <div class="amount">
                    <input id="amount__input" class="amount__input input-hide-arrows" type="number" value="1" min="1">
                    <!-- Botones para incrementar y decrementar cantidad de items -->
                    <div class="amount__btn-container">
                        <button id="btn__add" class="amount__btn" href="" onclick="btn__add(this)"><img src="/img/icons/+.svg" alt=""></button>
                        <button id="btn__substract" class="amount__btn" href="" onclick="btn__substract(this)"><img src="/img/icons/-.svg" alt="" srcset=""></button>
                    </div>
                    <a class="btn-link" href="/pages/shop/cart.html">Agregar al carrito</a>
                </div>

                <!-- Ver los metodos de pago -->
                <a id="modalOpen" class="link__blue link__blue--payment" href="#">Ver métodos de pago - 3 CUOTAS SIN INTERÉS</a>
                <dialog id="modal" class="modal">
                    <div id="modalClose" class="modal__close">
                        <iconify-icon icon="icon-park-outline:close-one" width="28" height="28"></iconify-icon>
                    </div>
                    <picture>
                        <img src="/img/medios_pagos.jpg" alt="Medios de pago">
                    </picture>
                </dialog>
            </section>
        </article>

        <!-- Seccion de relacionados -->
        <section class="glide glide--carousel container">
            <h2 class="glide__title">PRODUCTOS RELACIONADOS<h2>
            <!-- Slide de cards -->
            <section class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li class="glide__slide">
                        <article class="card new-item">
                            <a class="card__link" href="/pages/shop/item.html">
                                <picture class="card__cover">
                                    <img class="card__img-front" src="/img/harry-potter/harry-1.webp" alt="">
                                    <img class="card__img-back" src="/img/harry-potter/harry-box.webp" alt="">
                                </picture>
                                <section class="card__content">
                                    <span class="card__collection">harry potter</span>
                                    <h4 class="card__name">Harry Potter</h4>
                                    <span class="card__price">$ 1799,99</span>
                                    <span class="card__payments">3 cuotas sin interés</span>
                                </section>
                            </a>
                        </article>
                    </li>
                    <li class="glide__slide">
                        <article class="card new-item">
                            <a class="card__link" href="/pages/shop/item.html">
                                <picture class="card__cover">
                                    <img class="card__img-front" src="/img/harry-potter/hermione-1.webp" alt="">
                                    <img class="card__img-back" src="/img/harry-potter/hermione-box.webp" alt="">
                                </picture>
                                <section class="card__content">
                                    <span class="card__collection">harry potter</span>
                                    <h4 class="card__name">Hermione</h4>
                                    <span class="card__price">$ 1799,99</span>
                                    <span class="card__payments">3 cuotas sin interés</span>
                                </section>
                            </a>
                        </article>
                    </li>
                    <li class="glide__slide">
                        <article class="card new-item">
                            <a class="card__link" href="/pages/shop/item.html">
                                <picture class="card__cover">
                                    <img class="card__img-front" src="/img/harry-potter/luna-1.webp" alt="">
                                    <img class="card__img-back" src="/img/harry-potter/luna-box.webp" alt="">
                                </picture>
                                <section class="card__content">
                                    <span class="card__collection">harry potter</span>
                                    <h4 class="card__name">Luna lovegood</h4>
                                    <span class="card__price">$ 1799,99</span>
                                    <span class="card__payments">3 cuotas sin interés</span>
                                </section>
                            </a>
                        </article>
                    </li>
                    <li class="glide__slide">
                        <article class="card new-item">
                            <a class="card__link" href="/pages/shop/item.html">
                                <picture class="card__cover">
                                    <img class="card__img-front" src="/img/harry-potter/snape-patronus-1.webp" alt="">
                                    <img class="card__img-back" src="/img/harry-potter/snape-patronus-box.webp" alt="">
                                </picture>
                                <section class="card__content">
                                    <span class="card__collection">harry potter</span>
                                    <h4 class="card__name">Severus patronus</h4>
                                    <span class="card__price">$ 1799,99</span>
                                    <span class="card__payments">3 cuotas sin interés</span>
                                </section>
                            </a>
                        </article>
                    </li>
                    <li class="glide__slide">
                        <article class="card new-item">
                            <a class="card__link" href="/pages/shop/item.html">
                                <picture class="card__cover">
                                    <img class="card__img-front" src="/img/pokemon/charmander-1.webp" alt="">
                                    <img class="card__img-back" src="/img/pokemon/charmander-box.webp" alt="">
                                </picture>
                                <section class="card__content">
                                    <span class="card__collection">pokemon</span>
                                    <h4 class="card__name">charmander</h4>
                                    <span class="card__price">$ 1799,99</span>
                                    <span class="card__payments">3 cuotas sin interés</span>
                                </section>
                            </a>
                        </article>
                    </li>
                    <li class="glide__slide">
                        <article class="card new-item">
                            <a class="card__link" href="/pages/shop/item.html">
                                <picture class="card__cover">
                                    <img class="card__img-front" src="/img/pokemon/dragonite-1.webp" alt="">
                                    <img class="card__img-back" src="/img/pokemon/dragonite-box.webp" alt="">
                                </picture>
                                <section class="card__content">
                                    <span class="card__collection">pokemon</span>
                                    <h4 class="card__name">dragonite</h4>
                                    <span class="card__price">$ 1799,99</span>
                                    <span class="card__payments">3 cuotas sin interés</span>
                                </section>
                            </a>
                        </article>
                    </li>
                    <li class="glide__slide">
                        <article class="card new-item">
                            <a class="card__link" href="/pages/shop/item.html">
                                <picture class="card__cover">
                                    <img class="card__img-front" src="/img/pokemon/pidgeotto-1.webp" alt="">
                                    <img class="card__img-back" src="/img/pokemon/pidgeotto-box.webp" alt="">
                                </picture>
                                <section class="card__content">
                                    <span class="card__collection">pokemon</span>
                                    <h4 class="card__name">pidgeotto</h4>
                                    <span class="card__price">$ 1799,99</span>
                                    <span class="card__payments">3 cuotas sin interés</span>
                                </section>
                            </a>
                        </article>
                    </li>
                    <li class="glide__slide">
                        <article class="card new-item">
                            <a class="card__link" href="/pages/shop/item.html">
                                <picture class="card__cover">
                                    <img class="card__img-front" src="/img/pokemon/pikachu-1.webp" alt="">
                                    <img class="card__img-back" src="/img/pokemon/pikachu-box.webp" alt="">
                                </picture>
                                <section class="card__content">
                                    <span class="card__collection">pokemon</span>
                                    <h4 class="card__name">pikachu</h4>
                                    <span class="card__price">$ 1799,99</span>
                                    <span class="card__payments">3 cuotas sin interés</span>
                                </section>
                            </a>
                        </article>
                    </li>
                    <li class="glide__slide">
                        <article class="card new-item">
                            <a class="card__link" href="/pages/shop/item.html">
                                <picture class="card__cover">
                                    <img class="card__img-front" src="/img/pokemon/vulpix-1.webp" alt="">
                                    <img class="card__img-back" src="/img/pokemon/vulpix-box.webp" alt="">
                                </picture>
                                <section class="card__content">
                                    <span class="card__collection">pokemon</span>
                                    <h4 class="card__name">vulpix</h4>
                                    <span class="card__price">$ 1799,99</span>
                                    <span class="card__payments">3 cuotas sin interés</span>
                                </section>
                            </a>
                        </article>
                    </li>
                    <li class="glide__slide">
                        <article class="card new-item">
                            <a class="card__link" href="/pages/shop/item.html">
                                <picture class="card__cover">
                                    <img class="card__img-front" src="/img/star-wars/trooper-1.webp" alt="">
                                    <img class="card__img-back" src="/img/star-wars/trooper-box.webp" alt="">
                                </picture>
                                <section class="card__content">
                                    <span class="card__collection">star wars</span>
                                    <h4 class="card__name">stormtrooper lightsaber</h4>
                                    <span class="card__price">$ 1799,99</span>
                                    <span class="card__payments">3 cuotas sin interés</span>
                                </section>
                            </a>
                        </article>
                    </li>
                    <li class="glide__slide">
                        <article class="card new-item">
                            <a class="card__link" href="/pages/shop/item.html">
                                <picture class="card__cover">
                                    <img class="card__img-front" src="/img/star-wars/luke-1.webp" alt="">
                                    <img class="card__img-back" src="/img/star-wars/luke-box.webp" alt="">
                                </picture>
                                <section class="card__content">
                                    <span class="card__collection">star wars</span>
                                    <h4 class="card__name">luke skywalker</h4>
                                    <span class="card__price">$ 1799,99</span>
                                    <span class="card__payments">3 cuotas sin interés</span>
                                </section>
                            </a>
                        </article>
                    </li>
                    <li class="glide__slide">
                        <article class="card new-item">
                            <a class="card__link" href="/pages/shop/item.html">
                                <picture class="card__cover">
                                    <img class="card__img-front" src="/img/star-wars/bobbafeth-1.webp" alt="">
                                    <img class="card__img-back" src="/img/star-wars/bobbafeth-box.webp" alt="">
                                </picture>
                                <section class="card__content">
                                    <span class="card__collection">star wars</span>
                                    <h4 class="card__name">bobbafeth</h4>
                                    <span class="card__price">$ 1799,99</span>
                                    <span class="card__payments">3 cuotas sin interés</span>
                                </section>
                            </a>
                        </article>
                    </li>
                    <li class="glide__slide">
                        <article class="card new-item">
                            <a class="card__link" href="/pages/shop/item.html">
                                <picture class="card__cover">
                                    <img class="card__img-front" src="/img/star-wars/baby-yoda-1.webp" alt="">
                                    <img class="card__img-back" src="/img/star-wars/baby-yoda-box.webp" alt="">
                                </picture>
                                <section class="card__content">
                                    <span class="card__collection">star wars</span>
                                    <h4 class="card__name">baby yoda</h4>
                                    <span class="card__price">$ 1799,99</span>
                                    <span class="card__payments">3 cuotas sin interés</span>
                                </section>
                            </a>
                        </article>
                    </li>
                </ul>
            </section>
            <!-- FLechas de contol slide -->
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><iconify-icon icon="octicon:chevron-up-12" rotate="270deg"></iconify-icon></button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><iconify-icon icon="octicon:chevron-up-12" rotate="90deg"></iconify-icon></button>
            </div>
        </section>
    </main>

    <!-- FOOTER -->
    <footer> 
        <nav class="navbar container">
            <ul>
                <li>
                    <a class="navbar__link" 
                        href="./shop.html">SHOP</a>
                </li>
                <li>
                    <a class="navbar__link"
                        href="../admin/login.html">INGRESAR</a>
                </li>
                <li>
                    <a class="navbar__link"
                        href="../contact.html">CONTACTO</a>
                </li>
            </ul>

            <figure class="navbar__logo--footer">
                <a href="../../index.html">
                    <img src="../../img/branding/isotype.svg" 
                            alt="Isotipo de la tienda Funkoshop">
                </a>
            </figure>
        </nav>
        <p class="footer__copy">All rights reserved 2023 - Funkoshop&copy;</p>
    </footer>

    <!------ Scripts EXTERNOS ------>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script> <!-- Iconos -->
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script> <!-- Glide (Carrousel) -->
    
    <!------ Scripts PROPIOS ------>
    <script src="/scripts/glide-config.js"></script> <!-- Configuracion de libreria Glide -->
    <script src="/scripts/cart-counter.js"></script>
    <script src="/scripts/modal.js"></script>
    <script src="/scripts/item-quantity.js"></script>
</body>
</html>